<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <variable name="logDirectory" value="D:\Production\Logs\Web\ASAPSystem\${shortdate}"/>
  <!-- the targets to write to -->
  <targets>
    <!-- InfoFile-->
    <target xsi:type="File" name="InfoFile" fileName="${logDirectory}\Information\${date:format=HH}.log"
            layout="Log Date: ${longdate} |${newline}Requested URL: ${aspnet-request-url} |${newline}Action Method: ${aspnet-mvc-action} |${newline}Location: ${callsite} |${newline}Log Level:${uppercase:${level}} |${newline}Logger Name: ${logger} |${newline}Log Message: ${message} |${newline}-------------------------------------------------------------------------------" />

    <!-- WarnFile-->
    <target xsi:type="File" name="WarnFile" fileName="${logDirectory}\Warning\${date:format=HH}.log"
            layout="Log Date: ${longdate} |${newline}Requested URL: ${aspnet-request-url} |${newline}Action Method: ${aspnet-mvc-action} |${newline}Location: ${callsite} |${newline}Log Level: ${uppercase:${level}} |${newline}Logger Name: ${logger} |${newline}Log Message: ${message} |${newline}-------------------------------------------------------------------------------" />

    <!-- ErrorFile-->
    <target xsi:type="File" name="ErrorFile" fileName="${logDirectory}\Error\${date:format=HH}.log"
            layout="Log Date: ${longdate} |${newline}Requested URL: ${aspnet-request-url} |${newline}Action Method: ${aspnet-mvc-action} |${newline}Location: ${callsite} |${newline}Log Level: ${uppercase:${level}} |${newline}Logger Name: ${logger} |${newline}Log Message: ${message} |${newline}Exception: ${exception:format=tostring} |${newline}-------------------------------------------------------------------------------" />
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace"  final="true" /> <!-- BlackHole without writeTo -->
    
    <!--All logs, including from Microsoft-->
    <logger name="*"  minlevel="Trace" maxlevel="Info" writeTo="InfoFile" enabled="True" />
    <logger name="*" level="Warn" writeTo="WarnFile" enabled="True" />
    <logger name="*" minlevel="Error" writeTo="ErrorFile" enabled="True" />
  </rules>
  <!-- the targets to write to -->

</nlog>